/* reset*/
*{
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
}
ul, ol{
list-style-type: none;
}
a,
a:hover,
a:active,
a:visited{
	text-decoration: none;
	color: inherit;
}
html{
	font-size: 18px;
  text-transform: capitalize;
}

@media(max-width: 1024px){
	html{
		font-size: 17px;
	}
}
@media(max-width: 767px){
	html{
		font-size: 16px;
	}
@media(min-width: 2200px){
}
	html{
		font-size: 2vh;
	}
}

input:focus, 
textarea:focus,
select:focus{
	outline: none;
	box-sizing: none;
}
img{
  max-width: 100%;
}

/* header */
/* .header{
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background: grey;
  max-height: 50px;
} */
/* .logo{
  width: 60px;
  margin-top: 2px;
  margin-left: -.5rem;
} */
/* .nav-list{
  width: 60%;
} */
/* .nav-link{
  float:right;
  margin-top: 2px;
  margin-left: 1rem;
  background: lightgrey;
  padding: .5rem 1rem;
  border-radius: .5rem;
  color: #222;
  transition: ease-in-out .3s;
} */

/* .nav-link:hover{
  color: #fff;
  background: #222;
} */




/* pokemon page */

.type-color1,
.type-color2{
  position: absolute;
  width:200px;
  margin-top: .3rem;
  left: 5rem;
  height:.6rem;
  z-index: 1;
  background: #A09FA5;
  border-radius: 5px;
}
.type-color1:after{
  width:160px;
}
.type-color2:after{
  width:180px;
}
.type-color1:after,
.type-color2:after{
  content:'';
  position: absolute;
  border-radius: 5px;
  left: 0;
  background: #B91827;
  height:.6rem;
  z-index: 2;
}

.special-color1,
.special-color2,
.special-color3{
  position: absolute;
  width:200px;
  margin-top: .3rem;
  left: 6rem;
  height:.6rem;
  z-index: 1;
  background: #A09FA5;
  border-radius: 5px;
}
.special-color1:after{
  width:190px;
}
.special-color2:after{
  width:150px;
}
.special-color3:after{
  width:170px;
}
.special-color1:after,
.special-color2:after,
.special-color3:after{
  content:'';
  position: absolute;
  border-radius: 5px;
  left: 0;
  background: #B91827;
  height:.6rem;
  z-index: 2;
}

/* home page */
.main{
  max-width: 70%;
  margin: 1rem auto 0;
  background-image: url('img/bg.png');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  height: 200vh;
}
.pokemon{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.pokemon-container{
  position: relative;
  width: 25%;
  margin: 20px;
  padding: .3rem;
  box-shadow: inset 0px 0px 10px #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-detail{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 5px;
  box-shadow: inset 0px 0px 10px #222;
}
.pokemon-container img{
	position: relative;
	width: 100%;
	padding: .5rem;
	border-radius: .5rem .5rem 0 0;
}
.pokemon-container a{
	width: 100%;
	margin-top: .5rem;
	margin-bottom: .5rem;
	text-shadow: 0px 1px 3px #222;
}
.pokemon-container a::after{
	content: '';
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0rem;
	bottom: 50%;
	/* color:var(--second-color); */
	font-size: 1rem;
	font-weight: 900;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #222;
	opacity: .7;
	transition: all .5s;
}
.pokemon-container:hover a::after{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
 }
.pokemon-container:hover a::after{
	content: 'Details';
  font-size: 2rem;
  color: #fff;
}