/* reset*/
*{
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
}
ul, ol{
list-style-type: none;
}
a,
a:hover,
a:active,
a:visited{
	text-decoration: none;
	color: inherit;
}

@media(max-width: 1024px){
	html{
		font-size: 17px;
	}
}
@media(max-width: 767px){
	html{
		font-size: 16px;
	}
@media(min-width: 2200px){
}
	html{
		font-size: 2vh;
	}
}

input:focus, 
textarea:focus,
select:focus{
	outline: none;
	box-sizing: none;
}
body{
min-width: 100%;
font-size: 18px;
text-transform: capitalize;
background-position: center;
background-attachment: fixed;
background-size: 110% 100%;
background-repeat: no-repeat;
background-image: url('img/bg.jpg');
}
img{
  max-width: 100%;
}

:root{
	--color1: #D59203;/*yellow*/
	--color2: #219E40;/*green*/
	--color3: #222;/*darkgrey*/
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: var(--color2);
  opacity: .3;
  cursor: pointer;
	border: none;
	background: var(--color3);
	z-index: 9999999999;
}

button {
  font-size: .9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: .3rem 1rem;
	margin-left: .5rem;
	
}

.button-default {
  background: var(--color3);
  color: var(--color2);
}