/* reset*/
*{
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
}
ul, ol{
list-style-type: none;
}
a,
a:hover,
a:active,
a:visited{
	text-decoration: none;
	color: inherit;
}

@media(max-width: 1024px){
	html{
		font-size: 17px;
	}
}
@media(max-width: 767px){
	html{
		font-size: 16px;
	}
@media(min-width: 2200px){
}
	html{
		font-size: 2vh;
	}
}

input:focus, 
textarea:focus,
select:focus,
*:focus{
	outline: none;
	box-sizing: none;
}
body{
min-width: 100%;
font-size: 18px;
text-transform: capitalize;
background-position: center;
background-attachment: fixed;
background-size: 125% 100%;
background-repeat: no-repeat;
background-image: url('img/bg.webp');
}
body::-webkit-scrollbar {
  width: .7rem;
}

body::-webkit-scrollbar-track {
  background: linear-gradient(360deg, rgba(20,20,20,1) 30%, rgba(33,158,64,1) 60%, rgba(255,255,255,1) 100%);  transform: rotateZ(90deg);
  border: 1px  groove var(--color2)
}

body::-webkit-scrollbar-thumb {
  background: var(--color2);
  border-radius: 100vw;
  border: 1px  groove var(--color3)
}
img{
  max-width: 100%;
}

:root{
	--color1: #ff0000;/*red*/
	--color2: #219E40;/*green*/
  --color3: #141414;/*darkgrey*/
  --color4: #fff;/*white*/
}

